[submodule ".config/i3"]
	path = .config/i3
	url = /home/jilles/.config/i3/
[submodule ".config/nvim"]
	path = .config/nvim
	url = /home/jilles/.config/nvim/
[submodule "st"]
	path = st
	url = https://github.com/s2ks/my-st-pkg
[submodule ".config/picom"]
	path = .config/picom
	url = /home/jilles/.config/picom/
[submodule ".config/polybar"]
	path = .config/polybar
	url = /home/jilles/.config/polybar/
