# I had some issues with .Xresources not loading
xrdb -load ~/.Xresources &
xrdb -merge ~/.Xresources &

# NVIDIA Prime enabled laptops only
#xrandr --setprovideroffloadsink 1 0 &

#set primary monitor (laptop screen)
#xrandr --output eDP1 --primary

#desktop (dual monitor)
#xrandr --output DP-2 --primary
#xrandr --output DVI-D-0 --pos 2560x180

# key hold repeat rate
xset r rate 200 50

# power saving
xset s 600
xset dpms 0 0 0

# background
~/.fehbg
