configuration {
	modi: 		"drun";
	show-icons: 	true;
	hide-scrollbar: true;
}

@theme "common"

window {
	fullscreen: true;
}

listview {
	columns: 	8;
	lines: 		6;
	dynamic: 	false;
	fixed-columns: 	false;
}

element-icon {
	size: 3.5em;
	horizontal-align: 0.5;
}

element-text {
	horizontal-align: 0.5;
	/*vertical-align: 1;*/
}

element {
	padding: 0.5em;
	orientation: vertical;
}

/* vim:syntax=css
