configuration {
	show-icons: true;
}

@theme "common"

window {
	padding: 	calc(50% - 4em) calc(50% - 20em);
}


window {
	fullscreen: true;
}

mainbox {
	children: [listview];
}

listview {
	columns: 6;
	fixed-columns: true;
}

element {
	orientation: vertical;
}

element-text {
	horizontal-align: 	0.5;
	vertical-align: 	1;
}

element-icon {
	size: 3.5em;
	horizontal-align: 0.5;
}

/* vim:syntax=css
