Xcursor.theme: 		volantes_cursors

Rxvt.background:	rgb:38/38/40
URxvt.foreground:	rgb:c8/c8/c8
URxvt.font:		xft:Source Code Pro:pixelsize=12,PowerlineSymbols:pixelsize=12
URxvt.letterSpace:	1
URxvt.geometry:		100x36
URxvt.scrollstyle:	plain
URxvt.scrollBar:	False
URxvt.scrollBar_right:	True
URxvt.cursorBlink:	True
URxvt.url-launcher:	firefox
URxvt.saveLines:	8192

URxvt.transparent:	True
URxvt.shading:		20

URxvt.perl-ext-common:	default

Xcursor.size:		16

XTerm.termName:		xterm-256color
XTerm.vt100.locale: 	true
XTerm.ttyModes: 	erase ^?

XTerm.vt100.renderFont: true

XTerm.vt100.saveLines: 	4096

XTerm.vt100.metaSendsEscape: 	false
XTerm.vt100.backarrowKey: 	false
XTerm.vt100.reverseVideo: 	true

XTerm.vt100.selectToClipboard:	true

! Black, Grey, Silver, White
XTerm.vt100.color0:	#282c34
XTerm.vt100.color7:	#abb2bf
XTerm.vt100.color8:	#545862
XTerm.vt100.color15:	#c8ccd4

! Red
XTerm.vt100.color1:	#e06c75
XTerm.vt100.color9:	#e06c75

! Green
XTerm.vt100.color2:	#98c379
XTerm.vt100.color10:	#98c379

XTerm.vt100.color3:	#e5c07b
XTerm.vt100.color11:	#e5c07b

XTerm.vt100.color4:	#61afef
XTerm.vt100.color12:	#61afef

XTerm.vt100.color5:	#c678dd
XTerm.vt100.color13:	#c678dd

XTerm.vt100.color6:	#56b6c2
XTerm.vt100.color14:	#56b6c2

XTerm.vt100.color16:	#d19a66
XTerm.vt100.color17:    #be5046
XTerm.vt100.color18:    #353b45
XTerm.vt100.color19:    #3e4451
XTerm.vt100.color20:    #565c64
XTerm.vt100.color21:    #b6bdca

XTerm*faceName: Source Code Pro:pixelsize=12:antialias=true:autohint=true,PowerlineSymbols:pixelsize=12:antialias=true:autohint=true,Font Awesome 5 Free:pixelsize=12:antialias=true:style=solid:autohint=true
!XTerm.vt100.faceName: Source Code Pro:size=10:antialias=true:autohint=true
!XTerm.vt100.faceName: DejaVu Sans Mono for Powerline:size=10:antialias=true
XTerm.scaleHeight:	1.0

XTerm.vt100.translations: #override 			\n\
	Ctrl Alt <Key>S: 	secure()		\n\
	Shift <KeyPress> Home: 	scroll-to(begin) 	\n\
	Shift <KeyPress> End:	scroll-to(end)		\n\
	Ctrl Shift <Key> C:	copy-selection(SELECT)	\n\
	Ctrl Shift <Key> V:	insert-selection(SELECT)\n\
	Ctrl <Key> +:		larger-vt-font()	\n\
	Ctrl <Key> -:		smaller-vt-font()	\n\
	Ctrl <Key> 0:		set-vt-font(d)		\n\
	Ctrl Shift <Key> T:	spawn-new-terminal()

xscreensaver.splash: false
xscreensaver.captureStderr: false
xscreensaver.timeout: 0

